<footer>

<div class="social-media">
    <a href="https://github.com/EileenMoore"><img src="../../assets/img/github.png"></a>    
    <a href="https://www.linkedin.com/in/eileen-moore-38b370197/"><img src="../../assets/img/linkedin.png"></a>    
    <a href="https://www.xing.com/profile/Eileen_Moore2/"><img src="../../assets/img/xing.png"></a> 
</div>
   
<div>
    <a routerLink="/imprint">Imprint</a>
    <a routerLink="/data-protection">Data protection</a>
</div>

    <div>© 2021 Eileen Moore</div>
</footer>