.data-protection-container{
    padding: 80px 120px 80px;
    word-wrap: break-word;
}


@media only screen and (max-width: 900px) {

    .data-protection-container{
        padding: 16px;
        font-size: 1em;
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 1.5em;
    }

    h3{
        font-size: 1em;
    }

}